@use "./helper/color";

@mixin mobile {
  @media (max-width: 360px) {
    @content;
  }
}

@mixin toTablet {
  @media (max-width: 768px) {
    @content;
  }
}

// 헤더에만 적용되는 미디어쿼리
@mixin toTabletForHeader {
  @media (max-width: 1010px) {
    @content;
  }
}

// @mixin desktop {
//   @media (min-width: 769px) {
//     @content;
//   }
// }

/**
 page 레이아웃
*/
@mixin page {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
}

@mixin content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 140px;
  width: 100%;
  max-width: 1050px;
  height: 100%;
  margin: 0 auto;
  padding: 140px 0;

  @include toTablet {
    padding: 100px 24px;
    gap: 100px;
  }
}

@mixin footer {
  width: 100%;
}

@mixin page-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: color.$gray10;
  padding: 166px 0 96px;

  @include toTablet {
    padding: 126px 24px 64px;
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1050px;
    font-size: 44px;
    font-weight: 400;
    line-height: 140%;
    text-align: center;
    word-break: keep-all;
    overflow-wrap: break-word;

    @include toTablet {
      flex-direction: column;
      gap: 20px;
      font-size: 36px;
      line-height: 150%;
    }

    p {
      font-size: 18px;
      line-height: 150%;
    }
  }
}

@mixin section-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;

  h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    color: color.$gray100;
  }
}

/**
 폼 스타일 (관련 페이지: 가맹점 가입 신청, 업무제휴 신청)
*/
@mixin form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 513px;

  @include toTablet {
    width: 100%;
    max-width: 360px;
  }

  .label-input-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include toTablet {
      flex-direction: column;
      gap: 8px;
      justify-content: start;
    }

    &.align-start {
      align-items: start;

      label {
        margin-top: 12px;

        @include toTablet {
          margin-top: 0;
        }
      }
    }

    label {
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: 16px;
      font-weight: 300;
      line-height: 150%;
      color: color.$black;
    }

    .text-input {
      box-sizing: border-box;
      width: 360px;
      height: 48px;
      padding: 11px 16px;
      border: 1px solid color.$gray40;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: color.$black;

      @include toTablet {
        width: 100%;
      }

      &::placeholder {
        font-size: 16px;
        font-weight: 400;
        color: color.$gray40;
      }
    }

    .textarea {
      box-sizing: border-box;
      width: 360px;
      height: 144px;
      padding: 11px 16px;
      overflow-y: auto;
      border: 1px solid color.$gray40;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: color.$black;
      resize: none;

      &::placeholder {
        font-size: 16px;
        font-weight: 400;
        color: color.$gray40;
      }

      @include toTablet {
        width: 100%;
      }
    }
  }

  .radio-area {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 360px;

    .radio-box {
      @include radio-box;
    }
  }

  .term-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .terms-chk {
      @include main-check-box;
    }

    .view-terms-btn {
      img {
        width: 16px;
        height: 16px;
        margin-right: -4px;
      }
    }
  }

  .submit-btn {
    @include button-basic;

    & {
      margin-top: 14px;
    }
  }
}

/**
 버튼 스타일
*/
@mixin button-basic {
  padding: 12px 20px;
  border-radius: 8px;
  background-color: color.$primary70;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: color.$white;

  &:hover {
    background-color: color.$primary80;
    color: color.$primary20;
    box-shadow: 0px 4px 8px 0px rgba(55, 28, 115, 0.06);
  }

  &:disabled {
    background-color: color.$gray20;
    color: color.$gray40;
    cursor: not-allowed;
    pointer-events: none;
  }
}

@mixin button-ghost {
  background-color: transparent;
  color: color.$primary70;

  &:hover {
    color: color.$primary70;
    background-color: rgba(104, 50, 219, 0.05);
  }
}

@mixin button-dark {
  background-color: transparent;
  color: color.$white;

  &:hover {
    color: color.$gray10;
    background-color: rgba(255, 255, 255, 0.16);
  }
}

@mixin button-outline {
  border: solid 0.7px color.$white;
  color: inherit;
}

@mixin button-unimportant {
  background-color: color.$gray30;
  color: color.$gray100;

  &:hover {
    background-color: color.$gray40;
    color: color.$gray100;
  }
}

/**
 체크박스 스타일
*/
@mixin main-check-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;

  input {
    cursor: pointer;
    width: 24px;
    height: 24px;
    appearance: none;
  }

  input:before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("/images/check-square-off.svg");
    background-size: 100% 100%;
  }
  input:checked:before {
    background-image: url("/images/check-square-on.svg");
    background-size: 100% 100%;
  }

  &:active > input:before {
    background-color: color.$gray30;
    border-radius: 4px;
  }

  @media (hover: hover) {
    &:hover > input:before {
      background-color: color.$gray10;
    }
  }
}

/**
   라디오버튼 스타일
  */
@mixin radio-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  cursor: pointer;

  input {
    cursor: pointer;
    width: 1.6rem;
    height: 1.6rem;
    appearance: none;
    margin: 0;
  }

  input:before {
    position: absolute;
    left: 0;
    content: "";
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    background-image: url("/images/radio-off.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  input:checked:before {
    background-image: url("/images/radio-on.svg");
  }

  input:disabled {
    cursor: default;
  }

  &:active > input:before {
    background-color: color.$gray10;
    border-radius: 50%;
  }

  @media (hover: hover) {
    &:hover > input[type="checkbox"]:before,
    &:hover > input[type="radio"]:before {
      background-color: color.$gray10;
      border-radius: 50%;
    }
  }
}

/**
   테이블 스타일
  */
@mixin table($column: 50%) {
  width: 100%;
  box-sizing: border-box;
  border-collapse: collapse;

  thead {
    text-align: center;
    background-color: color.$primary70;

    tr {
      height: 52px;

      @include toTablet {
        height: 48px;
      }
    }

    th {
      // width: 50%;
      width: $column;
      font-size: 18px;
      font-weight: 300;
      line-height: 28px;
      color: color.$white;
      text-align: center;
      vertical-align: middle;

      @include toTablet {
        width: 100%;
        font-size: 16px;
        line-height: 24px;
      }

      &:first-child {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }

      &:last-child {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
  }

  tbody {
    height: auto;

    tr {
      &:last-child td {
        border-bottom: 1px solid color.$primary70;
      }
    }

    td {
      padding: 16px;
      text-align: center;
      vertical-align: middle;
      font-size: 17px;
      line-height: 26px;
      color: color.$black;
      border-right: 1px solid color.$gray40;
      border-bottom: 1px solid color.$gray40;
      // border-bottom: 1px solid color.$primary70;

      @include toTablet {
        font-size: 16px;
        line-height: 24px;
      }

      &:last-child {
        border-right: 0;
      }
    }
  }
}

/**
   탭 스타일
  */
@mixin tab-container() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 0;
  column-gap: 56px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-bottom: 1px solid color.$gray30;

  li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 150%;
    color: color.$gray60;
    cursor: pointer;

    @include toTablet {
      padding: 16px 0;
      font-size: 18px;
    }

    &.selected {
      font-weight: 500;
      color: color.$primary70;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: color.$primary70;
        border-radius: 2px;
      }
    }
  }
}
