@use "./helper/color";

@mixin mobile {
  @media (max-width: 360px) {
    @content;
  }
}

@mixin toTablet {
  @media (max-width: 768px) {
    @content;
  }
}

// 헤더에만 적용되는 미디어쿼리
@mixin toTabletForHeader {
  @media (max-width: 1010px) {
    @content;
  }
}

// @mixin desktop {
//   @media (min-width: 769px) {
//     @content;
//   }
// }

/**
 page 레이아웃
*/
@mixin page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

@mixin content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 140px;
  width: 100%;
  max-width: 1050px;
  height: 100%;
  margin: 0 auto;
  padding: 140px 0;

  @include toTablet {
    padding: 100px 24px;
    gap: 100px;
  }
}

@mixin footer {
  width: 100%;
}

@mixin page-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: color.$gray10;
  padding: 166px 0 96px;

  @include toTablet {
    padding: 126px 24px 64px;
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1050px;
    font-size: 44px;
    font-weight: 300;
    line-height: 140%;
    text-align: center;

    @include toTablet {
      flex-direction: column;
      gap: 20px;
      font-size: 36px;
      line-height: 150%;
    }

    p {
      font-size: 18px;
      line-height: 150%;
    }
  }
}

@mixin section-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;

  h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    color: color.$gray100;
  }
}

/**
 버튼 스타일
*/
@mixin button-basic {
  padding: 12px 20px;
  border-radius: 8px;
  background-color: color.$primary70;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: color.$white;

  &:hover {
    background-color: color.$primary20;
    color: color.$primary80;
    box-shadow: 0px 4px 8px 0px rgba(55, 28, 115, 0.16);
  }

  &:disabled {
    background-color: color.$gray20;
    color: color.$gray40;
    cursor: not-allowed;
    pointer-events: none;
  }
}

@mixin button-ghost {
  background-color: transparent;
  color: color.$primary70;

  &:hover {
    color: color.$primary70;
    background-color: rgba(104, 50, 219, 0.05);
  }
}

@mixin button-dark {
  background-color: transparent;
  color: color.$white;

  &:hover {
    color: color.$gray10;
    background-color: rgba(255, 255, 255, 0.16);
  }
}

@mixin button-outline {
  border: solid 0.7px color.$white;
}

@mixin button-unimportant {
  background-color: color.$gray30;
  color: color.$gray100;

  &:hover {
    background-color: color.$gray40;
  }
}

/**
 체크박스 스타일
*/
@mixin main-check-box(
  $font-weight: 400,
  $check-box-img: "../../assets/images/check_box.png",
  $hover-color: $color-gray10
) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.6rem;
  cursor: pointer;
  font-weight: $font-weight;

  input[type="checkbox"],
  input[type="radio"] {
    cursor: pointer;
    width: 1.6rem;
    appearance: none;
    height: 1.6rem;
  }

  input[type="checkbox"]:before,
  input[type="radio"]:before {
    content: "";
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    background-image: url(#{$check-box-img});
    background-size: 100% 100%;
  }
  input[type="checkbox"]:checked:before,
  input[type="radio"]:checked:before {
    background-image: url("../../assets/images/check_box_on.png");
    background-size: 100% 100%;
  }

  &:active > input[type="checkbox"]:before,
  &:active > input[type="radio"]:before {
    background-color: $color-gray30;
    border-radius: 0.4rem;
  }

  @media (hover: hover) {
    &:hover > input[type="checkbox"]:before,
    &:hover > input[type="radio"]:before {
      background-color: $hover-color;
    }
  }
}

/**
   라디오버튼 스타일
  */
@mixin radio-box() {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.6rem;
  cursor: pointer;

  input[type="radio"],
  input[type="checkbox"] {
    cursor: pointer;
    width: 1.6rem;
    height: 1.6rem;
    appearance: none;
    margin: 0;
  }

  input[type="radio"]:before,
  input[type="checkbox"]:before {
    position: absolute;
    left: 0;
    content: "";
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    background-image: url("../../assets/images/i_radio.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  input[type="radio"]:checked:before,
  input[type="checkbox"]:checked:before {
    background-image: url("../../assets/images/i_radio_on.png");
  }

  input[type="radio"]:disabled,
  input[type="checkbox"]:disabled {
    cursor: default;
  }

  &:active > input[type="checkbox"]:before,
  &:active > input[type="radio"]:before {
    background-color: $color-gray10;
    border-radius: 50%;
  }

  @media (hover: hover) {
    &:hover > input[type="checkbox"]:before,
    &:hover > input[type="radio"]:before {
      background-color: $color-gray10;
      border-radius: 50%;
    }
  }
}

/**
   테이블 스타일
  */
@mixin table() {
  width: 100%;
  box-sizing: border-box;
  border-collapse: collapse;

  thead {
    text-align: center;
    background-color: color.$primary70;

    tr {
      height: 52px;

      @include toTablet {
        height: 48px;
      }
    }

    th {
      width: 50%;
      font-size: 18px;
      font-weight: 300;
      line-height: 28px;
      color: color.$white;
      text-align: center;
      vertical-align: middle;

      @include toTablet {
        width: 100%;
        font-size: 16px;
        line-height: 24px;
      }

      &:first-child {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }

      &:last-child {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
  }

  tbody {
    height: auto;

    td {
      padding: 16px;
      text-align: center;
      vertical-align: middle;
      font-size: 17px;
      line-height: 26px;
      color: color.$black;
      border-right: 1px solid color.$gray40;
      border-bottom: 1px solid color.$primary70;

      @include toTablet {
        font-size: 16px;
        line-height: 24px;
      }

      &:last-child {
        border-right: 0;
      }
    }
  }
}

/**
   탭 스타일
  */
@mixin tab-container() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 0;
  column-gap: 56px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-bottom: 1px solid color.$gray30;

  li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 150%;
    color: color.$gray60;
    cursor: pointer;

    @include toTablet {
      padding: 16px 0;
      font-size: 18px;
    }

    &.clicked {
      font-weight: 500;
      color: color.$primary70;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: color.$primary70;
        border-radius: 2px;
      }
    }
  }
}
