@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Pretendard";
  font-size: 17px;
  font-weight: 300;
  font-size: 100%;
  color: #333D4C;
  vertical-align: baseline;
  letter-spacing: -0.7px;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  /*content: '';*/
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
button,
select,
input[type=button] {
  cursor: pointer;
  outline: none;
}

button {
  border: none;
  background-color: transparent;
}

a:link,
a:visited {
  text-decoration: none;
  color: #000;
}

input,
button {
  outline: none;
  letter-spacing: -0.7px;
}

input::placeholder,
textarea::placeholder {
  color: #999;
  font-weight: 300;
  letter-spacing: -0.7px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/**
 page 레이아웃
*/
/**
 버튼 스타일
*/
/**
 체크박스 스타일
*/
/**
   라디오버튼 스타일
  */
/**
   테이블 스타일
  */
/**
   탭 스타일
  */
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

main {
  width: inherit;
  overflow: hidden;
}

.content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 140px;
  width: 100%;
  max-width: 1050px;
  height: 100%;
  margin: 0 auto;
  padding: 140px 0;
}
@media (max-width: 768px) {
  .content-container {
    padding: 100px 24px;
    gap: 100px;
  }
}
.content-container {
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
}
@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    gap: 64px;
  }
}
.content-container.content1 {
  padding-top: 200px;
}
@media (max-width: 768px) {
  .content-container.content1 {
    padding-top: 100px;
  }
}
.content-container .section-title-arrow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
}
.content-container .section-title-arrow.content1 {
  height: 514px;
}
@media (max-width: 768px) {
  .content-container .section-title-arrow {
    justify-content: start;
    gap: 20px;
  }
  .content-container .section-title-arrow.content1 {
    height: 100%;
  }
}
.content-container .section-title-arrow h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 150%;
}
@media (max-width: 768px) {
  .content-container .section-title-arrow h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 140%;
  }
}
.content-container .section-title-arrow h2 strong {
  font-weight: inherit;
  color: #6832db;
}

.page-arrow {
  width: 64px;
  height: 64px;
  background-image: url("../images/page-arrow-default.svg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}
.page-arrow.small {
  width: 40px;
  height: 40px;
}
.page-arrow:hover {
  background-image: url("../images/page-arrow-hover.svg");
}
@media (max-width: 768px) {
  .page-arrow {
    width: 48px;
    height: 48px;
  }
  .page-arrow.small {
    width: 32px;
    height: 32px;
  }
}

.section-img-pay {
  position: absolute;
  right: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
  gap: 24px;
  flex-wrap: wrap;
  width: 783px;
}
.section-img-pay a:nth-child(1) {
  margin-left: 269px;
}
@media (max-width: 768px) {
  .section-img-pay a:nth-child(1) {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .section-img-pay {
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 16px;
    width: 100%;
  }
}

.pay-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 245px;
  height: 245px;
  padding: 40px 16px 16px 40px;
  border-radius: 20px;
  background-color: #f5f7fa;
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.5px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .pay-card {
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 104px;
    padding: 0 24px;
    border-radius: 12px;
    font-size: 20px;
  }
}
.pay-card:hover {
  background-color: #6832db;
  box-shadow: 16px 16px 8px 0px rgba(79, 57, 123, 0.08);
  color: #fff;
  text-decoration-line: underline;
  text-underline-offset: 6px;
  transition: all 0.3s ease;
}
.pay-card:hover .off-pg {
  background-image: url("../images/off-pg.gif");
}
.pay-card:hover .elect {
  background-image: url("../images/elect.gif");
}
.pay-card:hover .handwrite {
  background-image: url("../images/handwrite.gif");
}
.pay-card:hover .regular {
  background-image: url("../images/regular.gif");
}
.pay-card:hover .sns {
  background-image: url("../images/sns.gif");
}
.pay-card .pay-card-img {
  width: 189px;
  height: 145px;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .pay-card .pay-card-img {
    width: 115px;
    height: 88px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.pay-card .off-pg {
  background-image: url("../images/off-pg.png");
}
.pay-card .elect {
  background-image: url("../images/elect.png");
}
.pay-card .handwrite {
  background-image: url("../images/handwrite.png");
}
@media (max-width: 768px) {
  .pay-card .handwrite {
    margin-bottom: 12px;
  }
}
.pay-card .regular {
  background-image: url("../images/regular.png");
}
@media (max-width: 768px) {
  .pay-card .regular {
    margin-bottom: 16px;
  }
}
.pay-card .sns {
  background-image: url("../images/sns.png");
}
@media (max-width: 768px) {
  .pay-card .sns {
    margin-bottom: 16px;
  }
}

.line {
  border: none;
  height: 24px;
  background-color: #f5f7fa;
}

.section-img-charge {
  position: relative;
  width: 513px;
  height: 513px;
}
@media (max-width: 768px) {
  .section-img-charge {
    display: flex;
    gap: 24px;
    width: 100%;
    height: 312px;
  }
}
.section-img-charge img {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 24px;
}
@media (max-width: 768px) {
  .section-img-charge img {
    width: 312px;
    height: 312px;
  }
}
.section-img-charge .charge-img1 {
  left: 0;
  animation: moveForth 1s forwards;
}
.section-img-charge .charge-img2 {
  left: 537px;
  animation: moveFirst 1s forwards;
  z-index: 1;
}
.section-img-charge .charge-img3 {
  left: 1074px;
  animation: moveSecond 1s forwards;
  z-index: 1;
}
.section-img-charge .charge-img4 {
  left: 1611px;
  animation: moveThird 1s forwards;
  z-index: 1;
}

@keyframes moveForth {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes moveFirst {
  0% {
    left: 537px;
  }
  100% {
    left: 0;
  }
}
@keyframes moveSecond {
  0% {
    left: 1074px;
  }
  100% {
    left: 537px;
  }
}
@keyframes moveThird {
  0% {
    left: 1611px;
  }
  100% {
    left: 1074px;
  }
}
@media (max-width: 768px) {
  @keyframes moveFirst {
    0% {
      left: 328px;
    }
    100% {
      left: 0;
    }
  }
  @keyframes moveSecond {
    0% {
      left: 656px;
    }
    100% {
      left: 328px;
    }
  }
  @keyframes moveThird {
    0% {
      left: 984px;
    }
    100% {
      left: 656px;
    }
  }
}
.section-img-join {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 24px;
  width: 513px;
  height: 100%;
}
@media (max-width: 768px) {
  .section-img-join {
    width: 100%;
    gap: 16px;
  }
}
.section-img-join div {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  border-radius: 20px;
  background-color: #f1f4fb;
  padding: 28px 40px;
  transition: background-color 0.3s ease-in-out, height 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .section-img-join div {
    padding: 24px;
    border-radius: 12px;
  }
}
.section-img-join div .step-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 16px;
  line-height: 150%;
  color: #a1acbf;
  transition: color 0.5s ease-in-out;
}
@media (max-width: 768px) {
  .section-img-join div .step-title {
    font-size: 14px;
  }
}
.section-img-join div .step-title h2 {
  color: #a1acbf;
  transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out;
}
.section-img-join div.step-now {
  height: 180px;
  margin-left: -90px;
  color: #fff;
}
.section-img-join div.step-now:nth-child(1) {
  background-color: #aa82ff;
}
.section-img-join div.step-now:nth-child(2) {
  background-color: #8651f9;
}
.section-img-join div.step-now:nth-child(3) {
  background-color: #6a2cf0;
}
.section-img-join div.step-now:nth-child(4) {
  background-color: #3e0da5;
}
@media (max-width: 768px) {
  .section-img-join div.step-now {
    height: 180px;
    margin-left: 0;
    align-items: start;
    justify-content: start;
  }
}
.section-img-join div.step-now .step-title {
  gap: 32px;
  color: #fff;
}
.section-img-join div.step-now .step-title h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
  color: #fff;
  flex-grow: 1;
}
@media (max-width: 768px) {
  .section-img-join div.step-now .step-title h2 {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .section-img-join div.step-now .step-title {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 12px;
  }
}
.section-img-join div.step-now img {
  display: inline-block;
  width: 72px;
  height: 72px;
}
@media (max-width: 768px) {
  .section-img-join div.step-now img {
    position: absolute;
    right: 40px;
    bottom: 28px;
    width: 56px;
    height: 56px;
  }
}
.section-img-join div img {
  display: none;
}

.section-bg {
  width: 100%;
  background-color: #f0eef9;
}

.noti-faq-wrap {
  display: flex;
  flex-direction: column;
  width: 513px;
  height: 100%;
  gap: 24px;
}
@media (max-width: 768px) {
  .noti-faq-wrap {
    width: 100%;
    gap: 16px;
  }
}
.noti-faq-wrap .noti-faq-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 28px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .noti-faq-wrap .noti-faq-title {
    font-size: 24px;
  }
}
.noti-faq-wrap .noti-faq-title img {
  width: 40px;
  height: 40px;
}
@media (max-width: 768px) {
  .noti-faq-wrap .noti-faq-title img {
    width: 36px;
    height: 36px;
  }
}
.noti-faq-wrap .noti-faq-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-right: 40px;
}
@media (max-width: 768px) {
  .noti-faq-wrap .noti-faq-list {
    padding-right: 0;
  }
}
.noti-faq-wrap .noti-faq-list li {
  font-size: 18px;
  line-height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 768px) {
  .noti-faq-wrap .noti-faq-list li {
    font-size: 16px;
    line-height: 24px;
  }
}
.noti-faq-wrap .noti-faq-list li:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  transition: all 0.3s ease;
}

.section-contact-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  padding: 140px 0;
  background-image: url("../images/join-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section-contact-bg h3 {
  font-size: 36px;
  font-weight: 300;
  line-height: 150%;
  text-align: center;
  letter-spacing: -1px;
  color: #fff;
}
@media (max-width: 768px) {
  .section-contact-bg h3 {
    font-size: 28px;
    line-height: 140%;
  }
}
.section-contact-bg h3 strong {
  font-weight: 500;
  color: #fff;
}

.contact-list {
  display: flex;
  gap: 24px;
  width: 100%;
  max-width: 1050px;
}
@media (max-width: 768px) {
  .contact-list {
    flex-direction: column;
    gap: 16px;
    width: 100%;
    padding: 0 24px;
  }
}
.contact-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 118px;
  gap: 16px;
  background-color: rgba(75, 25, 178, 0.8);
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  color: #fff;
  border-radius: 20px;
}
@media (max-width: 768px) {
  .contact-list li {
    height: 88px;
    gap: 8px;
    font-size: 20px;
    border-radius: 12px;
  }
}
.contact-list li img {
  width: 64px;
  height: 64px;
}
@media (max-width: 768px) {
  .contact-list li img {
    width: 40px;
    height: 40px;
  }
}
.contact-list li .phone {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0;
  color: #fff;
}
@media (max-width: 768px) {
  .contact-list li .phone {
    font-size: 24px;
  }
}
.contact-list li .phone span {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0;
  color: #fff;
}
@media (max-width: 768px) {
  .contact-list li .phone span {
    font-size: 12px;
  }
}

#footer-area {
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
