@use "./_reset";
@use "./common" as common;
@use "./helper/color";

// html {
//   font-family: 'Pretendard';
//   font-size: 17px;
//   font-weight: 300;
//   height: 100%;
// }

// body {
//   height: 100%;
// }

// #root {
//   width: 100%;
//   height: 100%;
//   background-color: #efefef;
// }

.page {
  @include common.page;
}

main {
  width: inherit;
  overflow: hidden;
}

.content-container {
  @include common.content-container;

  & {
    flex-direction: row;
    justify-content: space-between;
    padding: 140px 0;
    height: fit-content;

    @include common.toTablet {
      flex-direction: column;
      padding: 100px 24px;
      gap: 64px;
    }
  }

  &.content1 {
    padding-top: 200px;

    @include common.toTablet {
      padding-top: 100px;
    }
  }

  .section-title-arrow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;

    &.content1 {
      height: 514px;
    }

    @include common.toTablet {
      justify-content: start;
      gap: 20px;

      &.content1 {
        height: 100%;
      }
    }

    h2 {
      font-size: 36px;
      font-weight: 600;
      line-height: 150%;

      @include common.toTablet {
        font-size: 28px;
        font-weight: 600;
        line-height: 140%;
      }

      strong {
        font-weight: inherit;
        color: color.$primary70;
      }
    }
  }
}

.page-arrow {
  width: 64px;
  height: 64px;
  background-image: url("../images/page-arrow-default.svg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s ease;

  &.small {
    width: 40px;
    height: 40px;
  }

  &:hover {
    background-image: url("../images/page-arrow-hover.svg");
  }

  @include common.toTablet {
    width: 48px;
    height: 48px;

    &.small {
      width: 32px;
      height: 32px;
    }
  }
}

// 결제서비스 섹션
.section-img-pay {
  position: absolute;
  right: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
  gap: 24px;
  flex-wrap: wrap;
  width: 783px;

  a:nth-child(1) {
    margin-left: 269px;

    @include common.toTablet {
      margin: 0;
    }
  }

  @include common.toTablet {
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 16px;
    width: 100%;
  }
}

.pay-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 245px;
  height: 245px;
  padding: 40px 16px 16px 40px;
  border-radius: 20px;
  background-color: color.$gray10;
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.5px;
  cursor: pointer;

  @include common.toTablet {
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 104px;
    padding: 0 24px;
    border-radius: 12px;
    font-size: 20px;
  }

  &:hover {
    background-color: color.$primary70;
    box-shadow: 16px 16px 8px 0px rgba(79, 57, 123, 0.08);
    color: color.$white;
    text-decoration-line: underline;
    text-underline-offset: 6px;
    transition: all 0.3s ease;

    .off-pg {
      background-image: url("../images/off-pg.gif");
    }

    .elect {
      background-image: url("../images/elect.gif");
    }

    .handwrite {
      background-image: url("../images/handwrite.gif");
    }

    .regular {
      background-image: url("../images/regular.gif");
    }

    .sns {
      background-image: url("../images/sns.gif");
    }
  }

  .pay-card-img {
    width: 189px;
    height: 145px;
    background-size: cover;
    background-repeat: no-repeat;

    @include common.toTablet {
      width: 115px;
      height: 88px;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .off-pg {
    background-image: url("../images/off-pg.png");
  }

  .elect {
    background-image: url("../images/elect.png");
  }

  .handwrite {
    background-image: url("../images/handwrite.png");

    @include common.toTablet {
      margin-bottom: 12px;
    }
  }

  .regular {
    background-image: url("../images/regular.png");
    @include common.toTablet {
      margin-bottom: 16px;
    }
  }

  .sns {
    background-image: url("../images/sns.png");
    @include common.toTablet {
      margin-bottom: 16px;
    }
  }
}

.line {
  border: none;
  height: 24px;
  background-color: color.$gray10;
}

// 수수료/정산 섹션
.section-img-charge {
  position: relative;
  width: 513px;
  height: 513px;

  @include common.toTablet {
    display: flex;
    gap: 24px;
    width: 100%;
    height: 312px;
    // overflow: hidden;
  }

  img {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 24px;

    @include common.toTablet {
      width: 312px;
      height: 312px;
      // aspect-ratio: 1 / 1;
    }
  }

  .charge-img1 {
    left: 0;
    animation: moveForth 1s forwards;
  }

  .charge-img2 {
    left: 537px;
    animation: moveFirst 1s forwards;
    z-index: 1;
  }

  .charge-img3 {
    left: 537px * 2;
    animation: moveSecond 1s forwards;
    z-index: 1;
  }

  .charge-img4 {
    left: 537px * 3;
    animation: moveThird 1s forwards;
    z-index: 1;
  }
}

@keyframes moveForth {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes moveFirst {
  0% {
    left: 537px;
  }
  100% {
    left: 0;
  }
}

@keyframes moveSecond {
  0% {
    left: 1074px;
  }
  100% {
    left: 537px;
  }
}

@keyframes moveThird {
  0% {
    left: 1611px;
  }
  100% {
    left: 1074px;
  }
}

@include common.toTablet {
  @keyframes moveFirst {
    0% {
      left: 328px;
    }
    100% {
      left: 0;
    }
  }

  @keyframes moveSecond {
    0% {
      left: 656px;
    }
    100% {
      left: 328px;
    }
  }

  @keyframes moveThird {
    0% {
      left: 984px;
    }
    100% {
      left: 656px;
    }
  }
}

// 가맹점 가입 섹션
.section-img-join {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 24px;
  width: 513px;
  height: 100%;

  @include common.toTablet {
    width: 100%;
    gap: 16px;
  }

  div {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    border-radius: 20px;
    background-color: color.$gray20;
    padding: 28px 40px;
    transition: background-color 0.3s ease-in-out, height 0.3s ease-in-out,
      margin-left 0.3s ease-in-out;

    @include common.toTablet {
      padding: 24px;
      border-radius: 12px;
    }

    .step-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-size: 16px;
      line-height: 150%;
      color: color.$gray50;
      transition: color 0.5s ease-in-out;

      @include common.toTablet {
        font-size: 14px;
      }

      h2 {
        color: color.$gray50;
        transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out;
      }
    }

    &.step-now {
      height: 180px;
      margin-left: -90px;
      color: color.$white;

      &:nth-child(1) {
        background-color: #aa82ff;
      }

      &:nth-child(2) {
        background-color: #8651f9;
      }

      &:nth-child(3) {
        background-color: #6a2cf0;
      }

      &:nth-child(4) {
        background-color: #3e0da5;
      }

      @include common.toTablet {
        height: 180px;
        margin-left: 0;
        align-items: start;
        justify-content: start;
      }

      .step-title {
        gap: 32px;
        color: color.$white;

        h2 {
          font-size: 24px;
          font-weight: 500;
          line-height: 140%;
          color: color.$white;
          flex-grow: 1;

          @include common.toTablet {
            font-size: 20px;
          }
        }

        @include common.toTablet {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          gap: 12px;
        }
      }

      img {
        display: inline-block;
        width: 72px;
        height: 72px;

        @include common.toTablet {
          position: absolute;
          right: 40px;
          bottom: 28px;
          width: 56px;
          height: 56px;
        }
      }
    }

    img {
      display: none;
    }
  }
}

// 공지사항, FAQ 섹션
.section-bg {
  width: 100%;
  background-color: color.$primary20;
}

.noti-faq-wrap {
  display: flex;
  flex-direction: column;
  width: 513px;
  height: 100%;
  gap: 24px;

  @include common.toTablet {
    width: 100%;
    gap: 16px;
  }

  .noti-faq-title {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 28px;
    font-weight: 500;

    @include common.toTablet {
      font-size: 24px;
    }

    img {
      width: 40px;
      height: 40px;

      @include common.toTablet {
        width: 36px;
        height: 36px;
      }
    }
  }

  .noti-faq-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-right: 40px;

    @include common.toTablet {
      padding-right: 0;
    }

    li {
      font-size: 18px;
      line-height: 28px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @include common.toTablet {
        font-size: 16px;
        line-height: 24px;
      }

      &:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
        transition: all 0.3s ease;
      }
    }
  }
}

// 가입 안내 섹션
.section-contact-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  padding: 140px 0;
  background-image: url("../images/join-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  h3 {
    font-size: 36px;
    font-weight: 300;
    line-height: 150%;
    text-align: center;
    letter-spacing: -1px;
    color: color.$white;

    @include common.toTablet {
      font-size: 28px;
      line-height: 140%;
    }

    strong {
      font-weight: 500;
      color: color.$white;
    }
  }
}

.contact-list {
  display: flex;
  gap: 24px;
  width: 100%;
  max-width: 1050px;

  @include common.toTablet {
    flex-direction: column;
    gap: 16px;
    width: 100%;
    padding: 0 24px;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 118px;
    gap: 16px;
    background-color: rgba(75, 25, 178, 0.8);
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    color: color.$white;
    border-radius: 20px;

    @include common.toTablet {
      height: 88px;
      gap: 8px;
      font-size: 20px;
      border-radius: 12px;
    }

    img {
      width: 64px;
      height: 64px;

      @include common.toTablet {
        width: 40px;
        height: 40px;
      }
    }

    .phone {
      display: flex;
      flex-direction: column;
      font-size: 32px;
      font-weight: 500;
      line-height: 140%;
      letter-spacing: 0;
      color: color.$white;

      @include common.toTablet {
        font-size: 24px;
      }

      span {
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0;
        color: color.$white;

        @include common.toTablet {
          font-size: 12px;
        }
      }
    }
  }
}

#footer-area {
  width: 100%;
}
