@use "./_reset";
@use "./common" as common;
@use "./helper/color";

// html {
//   font-family: 'Pretendard';
//   font-size: 17px;
//   font-weight: 300;
//   height: 100%;
// }

// body {
//   height: 100%;
// }

// #root {
//   width: 100%;
//   height: 100%;
//   background-color: #efefef;
// }

.page {
  @include common.page;
}

main {
  width: inherit;
  overflow: hidden;
}

.content-container {
  @include common.content-container;

  & {
    flex-direction: row;
    justify-content: space-between;
    padding: 140px 0;
    height: fit-content;

    @include common.toTablet {
      flex-direction: column;
      padding: 100px 24px;
      gap: 64px;
    }
  }

  &.content1 {
    padding-top: 200px;

    @include common.toTablet {
      padding-top: 100px;
    }
  }

  .section-title-arrow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;

    &.content1 {
      height: 514px;
    }

    @include common.toTablet {
      justify-content: start;
      gap: 20px;

      &.content1 {
        height: 100%;
      }
    }

    h2 {
      font-size: 36px;
      font-weight: 600;
      line-height: 150%;

      @include common.toTablet {
        font-size: 28px;
        font-weight: 600;
        line-height: 140%;
      }

      strong {
        font-weight: inherit;
        color: color.$primary70;
      }
    }

    .page-arrow {
      width: 64px;
      height: 64px;
      background-image: url("../images/page-arrow-default.svg");
      background-size: cover;
      background-repeat: no-repeat;
      transition: all 0.3s ease;

      &:hover {
        background-image: url("../images/page-arrow-hover.svg");
      }

      @include common.toTablet {
        width: 48px;
        height: 48px;
      }
    }
  }
}

.section-img-pay {
  position: absolute;
  right: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
  gap: 24px;
  flex-wrap: wrap;
  width: 783px;

  a:nth-child(1) {
    margin-left: 269px;

    @include common.toTablet {
      margin: 0;
    }
  }

  @include common.toTablet {
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 16px;
    width: 100%;
  }
}

.pay-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 245px;
  height: 245px;
  padding: 40px 16px 16px 40px;
  border-radius: 20px;
  background-color: color.$gray10;
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.5px;
  cursor: pointer;

  @include common.toTablet {
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 104px;
    padding: 0 24px;
    border-radius: 12px;
    font-size: 20px;
  } 

  &:hover {
    background-color: color.$primary70;
    box-shadow: 16px 16px 8px 0px rgba(79, 57, 123, 0.08);
    color: color.$white;
    text-decoration-line: underline;
    text-underline-offset: 6px;
    transition: all 0.3s ease;

    .off-pg {
      background-image: url("../images/off-pg.gif");
    }

    .elect {
      background-image: url("../images/elect.gif");
    }

    .handwrite {
      background-image: url("../images/handwrite.gif");
    }

    .regular {
      background-image: url("../images/regular.gif");
    }

    .sns {
      background-image: url("../images/sns.gif");
    }
  }

  .pay-card-img {
    width: 189px;
    height: 145px;
    background-size: cover;
    background-repeat: no-repeat;

    @include common.toTablet {
      width: 115px;
      height: 88px;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .off-pg {
    background-image: url("../images/off-pg.png");
  }

  .elect {
    background-image: url("../images/elect.png");
  }

  .handwrite {
    background-image: url("../images/handwrite.png");

    @include common.toTablet {
      margin-bottom: 12px;
    }
  }

  .regular {
    background-image: url("../images/regular.png");
    @include common.toTablet {
      margin-bottom: 16px;
    }
  }

  .sns {
    background-image: url("../images/sns.png");
    @include common.toTablet {
      margin-bottom: 16px;
    }
  }
}

.line {
  border: none;
  height: 24px;
  background-color: color.$gray10;
}

.section-img-charge {
  position: relative;
  width: 513px;
  height: 513px;

  @include common.toTablet {
    width: 100%;
    max-width: 530px;
    max-height: 530px;
    aspect-ratio: 1 / 1;
    height: auto;
    overflow: hidden;
  }

  img {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 24px;

    @include common.toTablet {
      width: 100%;
      height: auto;
      aspect-ratio: 1 / 1;
    }
  }

  .charge-img1 {
    left: 0;
    animation: moveForth 1s forwards;
  }

  .charge-img2 {
    left: 537px;
    animation: moveFirst 1s forwards;
    z-index: 1;
  }

  .charge-img3 {
    left: 537px * 2;
    animation: moveSecond 1s forwards;
    z-index: 1;
  }

  .charge-img4 {
    left: 537px * 3;
    animation: moveThird 1s forwards;
    z-index: 1;
  }
}

@keyframes moveForth {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes moveFirst {
  0% {
    left: 537px;
  }
  100% {
    left: 0;
  }
}

@keyframes moveSecond {
  0% {
    left: 1074px;
  }
  100% {
    left: 537px;
  }
}

@keyframes moveThird {
  0% {
    left: 1611px;
  }
  100% {
    left: 1074px;
  }
}

.section-img-join {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 24px;
  width: 513px;
  height: 100%;

  @include common.toTablet {
    width: 100%;
    gap: 16px;
  }

  div {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    border-radius: 20px;
    background-color: color.$gray20;
    padding: 28px 40px;
    transition: background-color 0.3s ease-in-out, height 0.3s ease-in-out, margin-left 0.3s ease-in-out;

    @include common.toTablet {
      padding: 24px;
      border-radius: 12px;
    }

    .step-title{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-size: 16px;
      line-height: 150%;
      color: color.$gray50;
      transition: color 0.5s ease-in-out;

      @include common.toTablet {
        font-size: 14px;
      }

      h2{
        color: color.$gray50;
        transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out;
      }
    }

    &.step-now {
      height: 180px;
      margin-left: -90px;
      color: color.$white;

      &:nth-child(1) {
        background-color: #AA82FF;
      }

      &:nth-child(2) {
        background-color: #8651F9;
      }

      &:nth-child(3) {
        background-color: #6A2CF0;
      }

      &:nth-child(4) {
        background-color: #3E0DA5;
      }

      @include common.toTablet {
        height: 180px;
        margin-left:0;
        align-items: start;
        justify-content: start;
      }
      
      .step-title{
        gap: 32px;
        color: color.$white;

        h2 {
          font-size: 24px;
          font-weight: 500;
          line-height: 140%;
          color: color.$white;
          flex-grow: 1;

          @include common.toTablet {
            font-size: 20px;
          }
        }

        @include common.toTablet {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          gap: 12px;
        }
      }

      img {
        display: inline-block;
        width: 72px;
        height: 72px;

        @include common.toTablet {
          position: absolute;
          right: 40px;
          bottom: 28px;
          width: 56px;
          height: 56px;
        }
      }
    }

    img {
      display: none;
    }
  }
}
