@use "_reset";
@use "_common" as common;

// html {
//   font-family: 'Pretendard';
//   font-size: 17px;
//   font-weight: 300;
//   height: 100%;
// }

// body {
//   height: 100%;
// }

// #root {
//   width: 100%;
//   height: 100%;
//   background-color: #efefef;
// }

.page {
  @include common.page;
}

.page-content-container {
  @include common.page-content-container;
}
