<!-- 헤더 -->
<header class="header">
  <a href="/">
    <img
      src="../images/logo_light.svg"
      alt="굿모닝페이 홈으로 이동"
      class="logo" />
  </a>
  <nav>
    <ul class="navigation">
      <li class="menu"><a href="/brand">굿모닝페이</a></li>
      <li class="menu"><a href="/off-pg">결제 서비스</a></li>
      <li class="menu"><a href="/documents">가맹점 가입</a></li>
      <li class="menu"><a href="/partnership">업무제휴</a></li>
      <li class="menu"><a href="/api">API 연동</a></li>
      <li class="menu"><a href="/notice">고객지원</a></li>
    </ul>
  </nav>
  <div class="button-container">
    <button>로그인</button>
    <button>회원가입</button>
  </div>
  <button class="menus">
    <img src="../images/menu_light.svg" alt="메뉴" />
  </button>
</header>
