@use "../../reset";
@use "../../common" as common;
@use "../../helper/color";

.page-title-container {
  @include common.page-title-container;

  & {
    div {
      justify-content: center;
    }
  }
}

.content-container {
  @include common.content-container;

  & {
    padding-top: 80px;
    align-items: center;
  }
}

.form-container {
  @include common.form-container;

  .select-container {
    @include common.select-container;
  }
}

.only-mobile {
  display: none;

  @media (max-width: 440px) {
    display: block;
  }
}
