@use "../../reset";
@use "../../common" as common;
@use "../../helper/color";

.page-title-container {
  @include common.page-title-container;
}

.tab-container {
  @include common.tab-container;
}

.section-container {
  @include common.section-container;
}

.client-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 140px 0;
  width: 100%;
  height: 100%;

  @include common.toTablet {
    padding: 100px 24px;
    gap: 12px;
  }

  .client-list-wrap {
    height: 114px;
    width: 100vw;
    overflow: hidden;
    position: relative;

    @include common.toTablet {
      width: 100%;
      height: 100%;
    }
  }

  .client-list {
    width: 100%;
    display: flex;
    gap: 16px;

    &.move-to-right {
      justify-content: end;

      @include common.toTablet  {
        justify-content: start;
        margin-right: 0!important;
        gap: 12px;
      }
    
    }

    @include common.toTablet  {
      justify-content: start;
      flex-wrap: wrap;
      gap: 12px;
      margin-left: 0!important;
    }

    .client-item {
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 24px 50px;
      width: 270px;
      height: 114px;
      border: 1px solid color.$gray40;
      border-radius: 12px;

      @include common.toTablet {
        flex: 0 0 calc(50% - 12px);
        width: calc(50% - 12px);
        height: auto;
        padding: 16px;

        &.only-pc {
          display: none;
        }
      }

      @include common.mobile {
        flex: 100%;
        width: 100%;
      }
    }
  }
}