$color-main: #5521b5;
$color-main-back: #f6f5ff;
$color-main-disabled: #f1f5f9;
$color-secondary: #1a56db;
$color-secondary-back: #ebf5ff;
$color-third: #f97316;
$color-third-back: #fff7ed;

$primary20: #f0eef9;
$primary70: #6832db;
$primary80: #4b19b2;
$primary100: #371c73;
$secondary20: #ffc6a5;
$secondary60: #ff843c;
$secondary80: #e75500;
$white: #fff;
$gray10: #f5f7fa;
$gray20: #f1f4fb;
$gray30: #e5eaf2;
$gray40: #cfd7e5;
$gray50: #a1acbf;
$gray60: #6d7687;
$gray80: #3d495c;
$gray100: #333d4c;
$black: #000;
$error: #ff342e;
$warning: #ffb724;
$success: #00a424;
