<!-- 메인페이지 캐러셀 -->
<div class="carousel-container">
  <div class="slide banner1 active">
    <div class="slide-text-app">
      <div class="text">
        365일 굿~모닝!<br />
        어제 결제, <br class="only-mobile" />오늘 오전 입금
        <p>
          매출대금은 휴일에도 쉬지 않고, <br class="only-mobile" />365일 바로
          익일 오전 입금!<br />
          안정적이고 빠른 정산 서비스를 경험해 보세요!
        </p>
      </div>
      <div class="app-button-container">
        <a class="app-button" href="">
          <img src="images/google-play.png" alt="구글플레이로 이동" />
        </a>
        <a class="app-button" href="">
          <img src="images/app-store.png" alt="앱스토어로 이동" />
        </a>
      </div>
    </div>
  </div>

  <div class="slide banner2">
    <div class="slide-text-app">
      <div class="text">
        세상 간편한 API로
        <br />
        세상 모든 <br class="only-mobile" />결제 서비스를
        <p>
          OFF-PG는 물론 전자결제, 수기결제, <br class="only-mobile" />정기결제,
          원격결제까지!<br />
          API 연동만으로 누구나 손쉽게 결제를 <br class="only-mobile" />시작할
          수 있어요.
        </p>
      </div>
      <div class="app-button-container">
        <a class="app-button" href="">
          <img src="images/google-play.png" alt="구글플레이로 이동" />
        </a>
        <a class="app-button" href="">
          <img src="images/app-store.png" alt="앱스토어로 이동" />
        </a>
      </div>
    </div>
  </div>

  <div class="slide banner3">
    <div class="slide-text-app">
      <div class="text">
        언제! 어디서! 누구나!<br />
        가능한 결제 솔루션
        <p>
          굿모닝페이는 온라인과 오프라인 어디든<br />
          사업자와 비사업자 모두 이용 가능한 <br class="only-mobile" />결제
          플랫폼이에요.
        </p>
      </div>
      <div class="app-button-container">
        <a href="">
          <img src="images/google-play.png" alt="구글플레이로 이동" />
        </a>
        <a href="">
          <img src="images/app-store.png" alt="앱스토어로 이동" />
        </a>
      </div>
    </div>
  </div>

  <div class="slide banner4">
    <div class="slide-text-app">
      <div class="text">
        국내 최고의 O2O
        <br />
        통합 <br class="only-mobile" />전자지급결제서비스
        <p>
          온라인과 오프라인 결제를 하나로 연결해주는 <br />
          KOREA No.1 O2O 통합 전자결제 솔루션,
          <br class="only-mobile" />굿모닝페이
        </p>
      </div>
      <div class="app-button-container">
        <a class="app-button" href="">
          <img src="images/google-play.png" alt="구글플레이로 이동" />
        </a>
        <a class="app-button" href="">
          <img src="images/app-store.png" alt="앱스토어로 이동" />
        </a>
      </div>
    </div>
  </div>

  <div class="indicator-container">
    <a>
      <img src="images/chevron-left.svg" class="btn-left" />
    </a>
    <div class="bar now"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <a>
      <img src="images/chevron-right.svg" class="btn-right" />
    </a>
  </div>
</div>