<!-- 헤더 -->
<header class="header">
  <a href="/">
    <img src="/images/logo_light.svg" alt="굿모닝페이 홈으로 이동" class="logo" />
  </a>
  <nav>
    <ul class="navigation">
      <li class="menu"><a href="info/brand.html" class="menu-a">굿모닝페이</a>
        <div class="sub-list-container">
          <ul class="sub-list">
            <li class="sub-item"><a href="info/brand.html">서비스 소개</a></li>
            <li class="sub-item"><a href="info/register-guide.html">가입안내</a></li>
            <li class="sub-item"><a href="/brand/client">주요 고객사</a></li>
            <li class="sub-item"><a href="/brand/map">오시는 길</a></li>
          </ul>
        </div>
      </li>

      <li class="menu"><a href="/pay/off-pg" class="menu-a">결제 서비스</a>
        <div class="sub-list-container">
          <ul class="sub-list">
            <li class="sub-item"><a href="/pay/off-pg">OFF-PG</a></li>
            <li class="sub-item"><a href="/pay/elect">전자결제</a></li>
            <li class="sub-item"><a href="/pay/handwrite">수기결제</a></li>
            <li class="sub-item"><a href="/pay/regular">정기결제</a></li>
            <li class="sub-item"><a href="/pay/sms">원격결제</a></li>
          </ul>
        </div>
      </li>

      <li class="menu"><a href="/guide/documents" class="menu-a">가맹점 가입</a>
        <div class="sub-list-container">
          <ul class="sub-list">
            <li class="sub-item"><a href="/guide/documents">신청서류</a></li>
            <li class="sub-item"><a href="/guide/insurance">보증보험</a></li>
            <li class="sub-item"><a href="/guide/restricted">가맹불가업종</a></li>
          </ul>
        </div>
      </li>

      <li class="menu"><a href="/partnership" class="menu-a">업무제휴</a></li>

      <li class="menu"><a href="/api" class="menu-a">API 연동</a></li>

      <li class="menu"><a href="/support/send" class="menu-a">고객지원</a>
        <div class="sub-list-container">
          <ul class="sub-list">
            <li class="sub-item"><a href="/support/send">고객센터</a></li>
            <li class="sub-item"><a href="/support/history">결제내역조회</a></li>
            <li class="sub-item"><a href="/support/notice">공지사항</a></li>
            <li class="sub-item"><a href="/support/faq">자주하는 질문</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
  <div class="button-container">
    <button>로그인</button>
    <button>회원가입</button>
  </div>
  <button class="menus">
    <img src="images/menu_light.svg" alt="메뉴" />
  </button>
</header>