@use "../_reset";
@use "../_common" as common;
@use "../helper/color";

.carousel-container {
  display: block;
  width: 100%;
  height: 100vh;
  min-height: 570px;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
  width: 100%;
  height: 100%; 
  min-height: inherit; 
  z-index: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include common.toTablet {
    justify-content: start;
    padding-top: 162px;
    background-size: auto 70vh; 
    background-position: bottom center; 
  }

  &.banner1 {
    background-image: url("../../images/mb-export1.png");
    background-color: #FFFDF0;
  }

  &.banner2 {
    background-image: url("../../images/mb-export2.png");
    background-color: #F3F0FF;
  }

  &.banner3 {
    background-image: url("../../images/mb-export3.png");
    background-color: #DCF9FF;
  }

  &.banner4 {
    background-image: url("../../images/mb-export4.png");
    background-color: #F2F7FF;
  }

  .slide-text-app {
    display: flex;
    flex-direction: column;
    gap: 56px;
    width: 1050px;

    @include common.toTablet {
      width: 100%;
      padding: 0 24px;
    }

    .text {
      font-size: 52px;
      font-weight: 700;
      line-height: 140%;
      letter-spacing: -2.5px;
      color: color.$black;

      @include common.toTablet {
        font-size: 36px;
        letter-spacing: -1.5px;
      }

      p {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.5px;
        margin-top: 24px;

        @include common.toTablet {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    .app-button-container {
      display: flex;
      flex-direction: row;
      gap: 20px;

      @include common.toTablet {
        flex-direction: column;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 164px;
        height: 60px;
        border-radius: 30px;
        background-color: color.$black;

        @include common.toTablet {
          width: 142px;
          height: 52px;
          border-radius: 26px;
        }

        img {
          width: 119px;
          height: 34px;

          @include common.toTablet {
            width: 103px;
            height: 28px;
          }

          &:hover {
            opacity: 80%;
          }
        }
      }
    }
  }
}

.btn {
  width: 1280px;
  font-size: 4em;
}
.active {
  opacity: 1;
  z-index: 1;
  transform: none;
}

.indicator-container {
  position: fixed;
  bottom: 80px;
  right: 64px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  text-align: right;
  z-index: 10;

  .bar {
    display: inline-block;
    margin: 0 1px;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: color.$white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);

    @include common.toTablet {
      display: none;
    }
  }

  .now {
    background-color: color.$primary70;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }

    .btn-left {
      width: 24px;
      height: 24px;
      padding-right: 1px;
      cursor: pointer;
    }

    .btn-right {
      width: 24px;
      height: 24px;
      padding-left: 1px;
      cursor: pointer;
    }
  }
}

.only-mobile {
  display: none;

  @include common.mobile {
    display: block;
  }
}