@use "../_reset";
@use "../_common" as common;
@use "../helper/color";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1050px;
  width: 100%;
  height: 70px;
  padding: 0 24px;
  line-height: 24px;
  z-index: 100;

  @include common.toTabletForHeader {
    min-width: 100%;
    height: 62px;
  }

  .logo {
    width: 182px;
    height: 37px;

    @include common.toTabletForHeader {
      width: 160px;
      height: 32px;
    }
  }

  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;

    @include common.toTabletForHeader {
      display: none;
    }

    li {
      display: inline-block;
      padding: 12px 20px;
      height: 48px;
      flex-shrink: 1;
    }

    li a {
      position: relative;
      padding-bottom: 12px;
      text-decoration: none;
      white-space: nowrap;

      &.light {
        color: color.$gray80;

        &:hover {
          color: color.$primary70;
          font-weight: 500;
        }

        &::after {
          background: color.$primary70;
        }
      }

      &.dark {
        color: color.$gray10;

        &:hover {
          color: color.$white;
          font-weight: 500;
        }

        &::after {
          background: color.$white;
        }
      }
    }

    li a::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 3px;
      transform-origin: left;
      transform: scaleX(0);
      transition: transform 0.3s ease;
      border-radius: 1.5px;
    }

    li a:hover::after {
      transform: scaleX(1);
    }
  }

  .button-container {
    display: flex;

    @include common.toTabletForHeader {
      display: none;
    }

    button {
      &.light {
        @include common.button-basic;
        @include common.button-ghost;
      }

      &.dark {
        @include common.button-basic;
        @include common.button-dark;
      }
    }
  }

  .menus {
    display: none;

    @include common.toTabletForHeader {
      display: inline-block;
    }
  }
}
