@use "../_reset";
@use "../_common" as common;
@use "../helper/color";

.contact-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  height: 206px;
  width: 100%;
  padding: 0 24px;
  background-image: url("../../images/join-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  font-size: 24px;
  font-weight: 300;
  line-height: 140%;
  color: white;
  text-align: center;

  @include common.toTablet {
    font-size: 20px;
    line-height: 30px;
  }

  @media (max-width: 530px) {
    height: 100%;
    padding: 32px 24px;
    gap: 16px;
  }

  .phone-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 520px;
    width: 100%;

    @media (max-width: 530px) {
      flex-direction: column;
      gap: 16px;
    }
  }

  .phone-wrap {
    display: flex;
    align-items: center;
    gap: 4px;

    img {
      width: 40px;
      height: 40px;
    }

    h3 {
      display: flex;
      flex-direction: column;
      font-size: 24px;
      font-weight: 500;
      line-height: 140%;
      color: white;
      text-align: left;

      span {
        font-size: 12px;
        font-weight: 300;
        line-height: 150%;
        color: white;
      }
    }
  }

  .join-button {
    @include common.button-basic;
    @include common.button-outline;
  }
}

.only-mobile {
  display: none;

  @media (max-width: 530px) {
    display: block;
  }
}
